html {
  font-family: 'Roboto', sans-serif;
}

body {
  font-size: 13px;
  line-height: 20px;
  margin: 0;
  background-color: #f2f2f2;
}

.titleTest {
  padding-top: 80px;
  padding-left: 8px;
  color: #1565c0;
  font-size: x-large;
}

.tableText {
  font-size: large;
}

.noRecords {
  font-size: x-large;
  font-weight: 300;
}

.secondLeftMenu {
  font-size: smaller;
  font-weight: 300;
}

::-webkit-scrollbar {
    width: 14px;
    height: 18px;
}
::-webkit-scrollbar-thumb {
    height: 6px;
    border: 4px solid rgba(0, 0, 0, 0);
    background-clip: padding-box;
    -webkit-border-radius: 7px;
    background-color: rgba(0, 0, 0, 0.15);
    -webkit-box-shadow: inset -1px -1px 0px rgba(0, 0, 0, 0.05), inset 1px 1px 0px rgba(0, 0, 0, 0.05);
}

::-webkit-scrollbar-thumb:window-inactive {
	background: rgba(255, 255, 255, 0);
}

::-webkit-scrollbar-button {
    width: 0;
    height: 0;
    display: none;
}
::-webkit-scrollbar-corner {
    background-color: transparent;
